%p#notice= notice
%p
  %strong Festival:
  = @festival_production_link.festival.title
%p
  %strong Production:
  = @festival_production_link.production.title
= link_to 'Edit', edit_festival_production_link_path(@festival_production_link)
|
= link_to 'Back', festival_production_links_path
