<p id="notice"><%= notice %></p>

<p>
  <strong>Production:</strong>
  <%= @press_item.production %>
</p>

<p>
  <strong>Date:</strong>
  <%= @press_item.date %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @press_item.publication %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @press_item.quote %>
</p>

<p>
  <strong>Author:</strong>
  <%= @press_item.author %>
</p>

<p>
  <strong>Link:</strong>
  <%= @press_item.link %>
</p>

<%= link_to 'Edit', edit_press_item_path(@press_item) %> |
<%= link_to 'Back', press_items_path %>
