.nested-fields.row
  = f.input :theater_id, as: :select, required: true, collection: @venue.theaters
  = f.input :title, as: :fake, required: true
  = f.input :production_id, as: :hidden
  = f.input :showtime, as: :datetime_picker
  = debug f.object
  = link_to_remove_association "Remove Showtime", f, class: 'btn btn-primary'
