<p id="notice"><%= notice %></p>

<h1>Listing Company Production Links</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Production</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_production_links.each do |company_production_link| %>
      <tr>
        <td><%= company_production_link.company %></td>
        <td><%= company_production_link.production %></td>
        <td><%= link_to 'Show', company_production_link %></td>
        <td><%= link_to 'Edit', edit_company_production_link_path(company_production_link) %></td>
        <td><%= link_to 'Destroy', company_production_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company production link', new_company_production_link_path %>
