%p#notice= notice
%p
  %strong Company:
  = @company_production_link.company.name
%p
  %strong Production:
  = @company_production_link.production
= link_to 'Edit', edit_company_production_link_path(@company_production_link)
|
= link_to 'Back', company_production_links_path
