<%= form_for(@production_showtime_link) do |f| %>
  <% if @production_showtime_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_showtime_link.errors.count, "error") %> prohibited this production_showtime_link from being saved:</h2>

      <ul>
      <% @production_showtime_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :production_id %><br>
    <%= f.text_field :production_id %>
  </div>
  <div class="field">
    <%= f.label :showtime_id %><br>
    <%= f.text_field :showtime_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
