<p id="notice"><%= notice %></p>

<h1>Listing Production Showtime Links</h1>

<table>
  <thead>
    <tr>
      <th>Production</th>
      <th>Showtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_showtime_links.each do |production_showtime_link| %>
      <tr>
        <td><%= production_showtime_link.production %></td>
        <td><%= production_showtime_link.showtime %></td>
        <td><%= link_to 'Show', production_showtime_link %></td>
        <td><%= link_to 'Edit', edit_production_showtime_link_path(production_showtime_link) %></td>
        <td><%= link_to 'Destroy', production_showtime_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production showtime link', new_production_showtime_link_path %>
