<p id="notice"><%= notice %></p>

<h1>Listing Production Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Production</th>
      <th>Performance type</th>
      <th>Info heading</th>
      <th>Info</th>
      <th>Warnings</th>
      <th>Warning info</th>
      <th>Running time</th>
      <th>Intermissions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_metadata.each do |production_metadata| %>
      <tr>
        <td><%= production_metadata.production %></td>
        <td><%= production_metadata.performance_type %></td>
        <td><%= production_metadata.info_heading %></td>
        <td><%= production_metadata.info %></td>
        <td><%= production_metadata.warnings %></td>
        <td><%= production_metadata.warning_info %></td>
        <td><%= production_metadata.running_time %></td>
        <td><%= production_metadata.intermissions %></td>
        <td><%= link_to 'Show', production_metadata %></td>
        <td><%= link_to 'Edit', edit_production_metadata_path(production_metadata) %></td>
        <td><%= link_to 'Destroy', production_metadata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production metadata', new_production_metadata_path %>
