<p id="notice"><%= notice %></p>

<p>
  <strong>Production:</strong>
  <%= @production_metadata.production %>
</p>

<p>
  <strong>Performance type:</strong>
  <%= @production_metadata.performance_type %>
</p>

<p>
  <strong>Info heading:</strong>
  <%= @production_metadata.info_heading %>
</p>

<p>
  <strong>Info:</strong>
  <%= @production_metadata.info %>
</p>

<p>
  <strong>Warnings:</strong>
  <%= @production_metadata.warnings %>
</p>

<p>
  <strong>Warning info:</strong>
  <%= @production_metadata.warning_info %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @production_metadata.running_time %>
</p>

<p>
  <strong>Intermissions:</strong>
  <%= @production_metadata.intermissions %>
</p>

<%= link_to 'Edit', edit_production_metadata_path(@production_metadata) %> |
<%= link_to 'Back', production_metadata_index_path %>
