= simple_form_for(resource,              |
  as: resource_name,                     |
  url: registration_path(resource_name), |
  html: { method: :put },                |
  wrapper: :horizontal_form) do |f|      |
  %h1
    Edit #{resource_name.to_s.humanize}
  = devise_error_messages!
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  = f.input :profile_image, as: :attachment, direct: true, input_html: { data: { value: attachment_url(resource, :profile_image) } }
  = f.input :first_name, as: :string
  = f.input :last_name, as: :string
  = f.input :location, label: 'Current City'
  = f.input :public, label: 'Set profile public?'
  = f.button :submit, class: 'btn btn-primary btn-block'
