<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(resource,
                            as: resource_name,
                            url: registration_path(resource_name),
                            html: { method: :put },
                            wrapper: :horizontal_form) do |f| %>
            <h1>Edit <%= resource_name.to_s.humanize %></h1>
            <%= devise_error_messages! %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>
                    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                </div>
            <% end %>

            <%= f.input :email, autofocus: true %>
            <% if resource.profile_image_id? %>
                <%= attachment_image_tag(resource, :profile_image, :fill, 300, 300) %>
            <% end %>

            <%= f.input :profile_image, as: :attachment %>
            <%= f.input :first_name, as: :string %>
            <%= f.input :last_name, as: :string %>
            <%= f.input :password, autocomplete: 'off' %> <i>(leave blank if you don't want to change it)</i><br />
            <div class="progress">
                <div id="StrengthProgressBar" class="progress-bar"></div>
            </div>
            <%= f.input :password_confirmation, autocomplete: 'off' %>
            <%= f.input :current_password, autocomplete: "off" %><i>(we need your current password to confirm your changes)</i><br />
            <%= f.input :time_zone, as: :time_zone, priority: /US/ %>
            <%= f.input :location %>
            <%= f.button :submit, class: 'btn btn-primary btn-block' %>
        <% end %>
        <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-primary btn-block' %></p>

        <%= link_to "Back", :back %>
    </div>
</div>
