<div class="row">
    <div class="col-sm-12">
        <%= simple_form_for(resource,
                            as: resource_name,
                            url: registration_path(resource_name),
                            wrapper: :horizontal_form) do |f| %>
            <h1>Sign up</h1>
            <%= devise_error_messages! %>
            <%= f.input :email, autofocus: true %>
            <%= f.input :first_name, as: :string %>
            <%= f.input :last_name, as: :string %>
            <%= f.input :password do %>
                <%= f.input_field :password, class: "form-control", autocomplate: :off %>
                <div class="text-xs-center" id="password-strength-text"></div>
                <progress id="password-strength" class="progress" max="100" aria-describedby="password-strength-text"></progress>
            <% end %>
            <%= f.input :password_confirmation, autocomplete: 'off' %>
            <%= f.input :time_zone, as: :time_zone, priority: /US/ %>
            <%= f.input :location %>
            <%= f.button :submit, class: 'btn btn-primary btn-block' %>
        <% end %>
        <%= render "devise/shared/links" %>

    </div>
</div>
