= content_tag_for(:tr, @credits) do |credit|
  %td
    = attachment_image_tag(credit.artist, :profile_image, :fill, 50, 75)
  %td
    = link_to(credit.artist.stage_name, artist_path(credit.artist))
  %td
    = credit.position
  %td
    = credit.start_date.strftime('%D')
    - if credit.end_date.present?
      \-
      = credit.end_date.strftime('%D')
  %td
    = link_to 'Edit', edit_credit_path(credit), remote: true
  %td
    = link_to 'Delete Credit', credit, remote: true, method: :delete
