.nested-fields.row
  = f.input :title, as: :fake, required: true, input_html: { value: (f.object.production.title if f.object.production.present?), |
                                                             placeholder: 'Show Title'} |
  = f.input :production_id, as: :hidden
  = f.input :name, as: :string, input_html: { placeholder: 'Credited As' }
  = f.input :position, as: :string, input_html: { placeholder: 'Role' }, required: true
  = f.input :start_date, as: :bootstrap_datepicker, wrapper: :vertical_form, required: true
  = f.input :end_date, as: :bootstrap_datepicker, wrapper: :vertical_form
  = link_to_remove_association "Remove Credit", f, class: 'btn btn-primary'
