- if @artist.id.present?
  .user-profile-details
    - provide(:title, @artist.stage_name)
    %h1
      = yield(:title)
    %figure.profile-image
      - if @artist.profile_image_id.present?
        = attachment_image_tag(@artist, :profile_image, :fill, 400, 400)
      - else
        = image_tag('unknown.png', size: '400x400')
      %figurecaption.social
        = render partial: 'shared/social_figure', locals: { target: @artist }
    #user-stats
      %p.user-stat
        Followers:
        = @artist.followers(User).count
      %p.user-stat
        Likes:
        = @artist.likers(User).count
    #user-info
    - if policy(@artist).edit?
      .user-profile-links
        %ul
          %li
            = link_to 'Edit', edit_artist_path(@artist)
          - if @artist.user.present?
            %li
              <i class="fa fa-user-circle"></i>
              = link_to 'View User Page', user_path(@artist.user_id)
          - else
            %li
              = link_to 'Claim Artist Page', artist_claim_path(@artist), method: :patch
