- if @artist.present?
  .artist-profile-details
    - provide(:title, @artist.stage_name)
    %h1
      = yield(:title)
    = attachment_image_tag(@artist, :profile_image, :fill, 400, 400)
    - if @artist.title.present?
      %p 
        %strong
          = @artist.title
    - if @artist.full_bio.present?
      %h2
        Full Bio
      %p
        = @artist.full_bio
  .artist-profile-links
    - if current_user
      - if current_user.likes?(@artist)
        = button_to "Unlike #{@artist.likers(User).count}", artist_unlike_path(@artist), method: :post, remote: true, disabled: !user_signed_in?
      - else
        = button_to "Like #{@artist.likers(User).count}", artist_like_path(@artist), method: :post, remote: true, disabled: !user_signed_in?
      - if current_user.follows?(@artist)
        = button_to "Unfollow #{@artist.followers(User).count}", artist_unfollow_path(@artist), method: :post, remote: true, disabled: !user_signed_in?
      - else
        = button_to "Follow #{@artist.followers(User).count}", artist_follow_path(@artist), method: :post, remote: true, disabled: !user_signed_in?
    - else
      %li
        Likes: #{@artist.likers(User).count}
      %li
        Followers: #{@artist.followers(User).count}  
        
    %ul
      - if policy(@artist).edit?
        %li
          = link_to 'Edit', edit_artist_path(@artist)
        %li
          = link_to 'View User Page', user_path(@artist.user_id)
      - elsif policy(@artist).claim?
        %li
          = link_to 'Claim Artist Page', artist_claim_path(@artist), method: :patch
