<%= attachment_image_tag(@artist, :profile_image, :fill, 300, 300) %>
<p>
  <strong>Name:</strong>
  <%= @artist.stage_name %>
</p>
<% if @artist.title.present? %>
<p>
  <strong>Title:</strong>
  <%= @artist.title %>
</p>
<% end %>

<% if @artist.title.present? %>
<p>
  <strong>Birthdate:</strong>
  <%= @artist.birthdate.strftime("%B %d, %Y") %>
</p>
<% end %>

<% if @artist.title.present? %>
<p>
  <strong>Birth location:</strong>
  <%= @artist.birth_location %>
</p>
<% end %>

<% if @artist.title.present? %>
<p>
  <strong>Hometown:</strong>
  <%= @artist.hometown %>
</p>
<% end %>

<% if @artist.title.present? %>
<p>
  <strong>Education:</strong>
  <%= @artist.education %>
</p>
<% end %>

<% if @artist.title.present? %>
<p>
  <strong>Full bio:</strong>
  <%= @artist.full_bio %>
</p>
<% end %>

<h2>Social Media</h2>
<ul>
    <% @artist.social_links.try(:each) do |k,v| %>
        <li>
            <%= link_to k.humanize, v.to_s %>
        </li>
    <% end %>
</ul>

<h2>Shows</h2>
<ul>
<% @artist.productions.each do |show| %>
    <li>
    <%= link_to show.title, production_path(show) %>
    </li>
<% end %>
</ul>

<h2>Production Credits</h2>
<ul>
    <% @artist.production_credits.each do |credit| %>
        <li>

            <%= link_to(credit.production.title, production_path(credit.production)) %>
            - <%= "#{credit.position} - #{credit.name}" %>
        </li>
    <% end %>
</ul>

<h2>Writing Credits</h2>
<ul>
    <% @artist.writing_credits.each do |credit| %>
        <li>

            <%= link_to(credit.production.title, production_path(credit.production)) %>
            - <%= "#{credit.position} - #{credit.name}" %>
        </li>
    <% end %>
</ul>


<h2>Images</h2>
<ul>
    <% @artist.pictures.each do |p| %>
        <li>

            <%= attachment_image_tag(p, :image, :fill, 300, 300) %>
        </li>
    <% end %>
</ul>





<% if policy(@artist).edit? %>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<% end %>
<% if @artist.user_id.present? %>
    <%= link_to 'View User Page', user_path(@artist.user_id) %>
<% elsif policy(@artist).claim? %>
    <%= link_to 'Claim Artist Page', artist_claim_path(@artist), method: :patch %>
<% end %>
<%= link_to 'Back', artists_path %>
