<p id="notice"><%= notice %></p>

<%= attachment_image_tag(@artist, :profile_image, :fill, 300, 300) %>
<p>
  <strong>Name:</strong>
  <%= @artist.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artist.title %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @artist.birthdate.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Birth location:</strong>
  <%= @artist.birth_location %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @artist.hometown %>
</p>

<p>
  <strong>Education:</strong>
  <%= @artist.education %>
</p>

<p>
  <strong>Full bio:</strong>
  <%= @artist.full_bio %>
</p>

<h2>Social Media</h2>
<ul>
    <% @artist.social_links.each do |k,v| %>
        <li>
            <%= link_to k.humanize, v.to_s %>
        </li>
    <% end %>
</ul>

<h2>Shows</h2>
<ul>
<% @artist.productions.each do |show| %>
    <li>
    <%= link_to show.title, production_path(show) %>
    </li>
<% end %>
</ul>

<h2>Credits</h2>
<ul>
    <% @artist.production_credits.each do |credit| %>
        <li>
            <%= "#{credit.position} - #{credit.name} - #{credit.production.title}" %>
        </li>
    <% end %>
</ul>


<% if policy(@artist).edit? %>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<% end %>
<% if @artist.user %>
    <%= link_to 'View User Page', user_path %>
<% else %>
    <%= link_to 'Claim Artist Page', artist_path(@artist, {artist: { user_id: current_user.id } }), method: :patch %>
<% end %>
<%= link_to 'Back', artists_path %>
