<p id="notice"><%= notice %></p>

<h1>Listing Showtime Ticket Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Guaranteed price</th>
      <th>Guaranteed price note</th>
      <th>Ticket link</th>
      <th>Reservation link</th>
      <th>Reservation link info</th>
      <th>Reservation phone</th>
      <th>Reservation phone info</th>
      <th>In person ticketing info</th>
      <th>Special event</th>
      <th>Special event info</th>
      <th>Additional ticket type</th>
      <th>Additional ticket type price</th>
      <th>Additional ticket type info</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showtime_ticket_metadata.each do |showtime_ticket_metadata| %>
      <tr>
        <td><%= showtime_ticket_metadata.guaranteed_price %></td>
        <td><%= showtime_ticket_metadata.guaranteed_price_note %></td>
        <td><%= showtime_ticket_metadata.ticket_link %></td>
        <td><%= showtime_ticket_metadata.reservation_link %></td>
        <td><%= showtime_ticket_metadata.reservation_link_info %></td>
        <td><%= showtime_ticket_metadata.reservation_phone %></td>
        <td><%= showtime_ticket_metadata.reservation_phone_info %></td>
        <td><%= showtime_ticket_metadata.in_person_ticketing_info %></td>
        <td><%= showtime_ticket_metadata.special_event %></td>
        <td><%= showtime_ticket_metadata.special_event_info %></td>
        <td><%= showtime_ticket_metadata.additional_ticket_type %></td>
        <td><%= showtime_ticket_metadata.additional_ticket_type_price %></td>
        <td><%= showtime_ticket_metadata.additional_ticket_type_info %></td>
        <td><%= showtime_ticket_metadata.notes %></td>
        <td><%= link_to 'Show', showtime_ticket_metadata %></td>
        <td><%= link_to 'Edit', edit_showtime_ticket_metadata_path(showtime_ticket_metadata) %></td>
        <td><%= link_to 'Destroy', showtime_ticket_metadata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showtime ticket metadata', new_showtime_ticket_metadata_path %>
