.nested-fields.row
  = f.input :title, class: "col-md-4"
  = f.input :description, class: "col-md-4"
  = f.input :has_album_id, as: :hidden, value: f.object.id, class: "col-md-4"
  = f.input :has_album_type, as: :hidden, value: 'Production', class: "col-md-4"
  = link_to_remove_association "Remove Album", f, class: 'btn btn-primary'
  .photos.container-fluid
    = f.simple_fields_for :photos do |f|
      = render 'productions/photos/photo_fields', f: photo
    .links
      = link_to_add_association 'Add Photo', f, :photos, partial: 'productions/photos/photo_fields', class: 'btn btn-primary'
