.nested-fields
  = f.input :title
  = f.input :description
  = f.input :has_album_id, as: :hidden, value: f.object.id
  = f.input :has_album_type, as: :hidden, value: 'Production'
  = link_to_remove_association "Remove Album", f
.photos
  = f.simple_fields_for :photos do |photo|
    = render 'productions/photos/photo_fields', f: photo
  .links
    = link_to_add_association 'Add Photo', f, :photos, partial: 'productions/photos/photo_fields'
