.user-profile-details
  - provide(:title, @user.full_name)
  %h1
    = yield(:title)
    %p.page-destinction (User)
  - if @user.profile_image_id.present?
    = attachment_image_tag(@user, :profile_image, :fill, 400, 400)
  - else
    = image_tag('unknown.png', size: '400x400')
  #user-stats
    %p.user-stat
      Following (
      = @user.followed.count
      )
    %p.user-stat
      Liked (
      = @user.liked.count
      )
  - if @user.location?
    #user-info
      %p
        Location:
        = @user.location


  - if policy(@user).edit?
    .user-profile-links
      %ul
        - if @user.artist.blank?
          %li
            = button_to 'Create Artist Page', artists_path(artist: {stage_name: @user.full_name, user_id: @user}), method: :post, class: 'btn btn-primary'
        - else
          %li
            <i class="fa fa-certificate"></i>
            = link_to 'View Artist Page', artist_path(@user.artist)
