.user-profile-details
  - provide(:title, @user.full_name)
  %h1= yield(:title)
  = attachment_image_tag(@user, :profile_image, :fill, 400, 400)
  #user-stats
    %p.user-stat
      User Reviews #2,321
    %p.user-stat
      All Followed #211
    %p.user-stat
      All Liked: #54
    %p.user-stat
      Followers:
      = @user.followers.count
  #user-info
    %p
      Location:
      = @user.location


  - if policy(@user).edit?
    .user-profile-links
      %ul
        %li
          = link_to 'Edit', edit_user_registration_path
        - if @user.artist.blank?
          %li
            = link_to 'Create Artist Page', new_artist_path
        - else
          %li
            = link_to 'View Artist Page', artist_path(@user.artist)
        %li
          = link_to 'Create Company Page', new_company_path
