<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
<p id="notice"><%= notice %></p>

<%= attachment_image_tag(@user, :profile_image, :fill, 300, 300) %>
<h1><%= yield(:title) %></h1>

<p>
    <strong>Email:</strong>
    <%= @user.email %>
</p>

<p>
    <strong>First name:</strong>
    <%= @user.first_name %>
</p>

<p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
</p>

<p>
    <strong>Time zone:</strong>
    <%= @user.time_zone %>
</p>

<p>
    <strong>Location:</strong>
    <%= @user.location %>
</p>

<%= link_to 'Home', root_path %>
<% if policy(@user).edit? %>
    <%= link_to 'Edit', edit_user_registration_path %>
<% end %>
<% if @user.artist.present? %>
    <%= link_to 'View Artist Page', artist_path %>
<% end %>
