#user-profile
  %header
    %ul.nav.nav-tabs{ role: 'tablist' }
      %li.nav-item
        %a.nav-link.active{ data: { toggle: 'tab' }, href: '#news', role: 'tab'}
          News
      - if policy(@user).edit?
        %li.nav-item
          %a.nav-link{ data: { toggle: 'tab' }, href: '#notifications', role: 'tab'}
            Notifications
        %li.nav-item
          %a.nav-link{ data: { toggle: 'tab' }, href: '#settings', role: 'tab'}
            Settings
  .tab-content
    .tab-pane.active{ id: 'news', role: 'tabpanel' }
      Some news content
    - if policy(@user).edit?
      .tab-pane{ id: 'notifications', role: 'tabpanel' }
        Some notification content
      .tab-pane{ id: 'settings', role: 'tabpanel' }
        = render 'devise/registrations/edit', resource: current_user
  .social-features
    %h1 Social Features
    %p
      Like count: #{@user.likers(User).count}
      %br/
      Follower count: #{@user.followers(User).count}
    - if current_user
      - if current_user.likes?(@user)
        = link_to 'Unlike', user_unlike_path(@user), method: :post
      - else
        = link_to 'Like', user_like_path(@user), method: :post
      |
      - if current_user.follows?(@user)
        = link_to 'Unfollow', user_unfollow_path(@user), method: :post
      - else
        = link_to 'Follow', user_follow_path(@user), method: :post
