<div id="user-profile">
  <div class="user-profile-links">
    <%= link_to 'Home', root_path %>
    <% if policy(@user).edit? %>
        | <%= link_to 'Edit', edit_user_registration_path %> |
        <% if @user.artist.blank? %>
            <%= link_to 'Create Artist Page', new_artist_path(artist:
                                                              {
                                                                  first_name: @user.first_name,
                                                                  last_name: @user.last_name,
                                                                  artist_social_metadata_attributes: {
                                                                      email: @user.email
                                                                  }
                                                              }) %> |
        <% end %>
        <%= link_to 'Create Company Page', new_company_path %>

    <% end %>
    <% if @user.artist.present? %>
        | <%= link_to 'View Artist Page', artist_path(@user.artist) %>
    <% end %>
  </div>

  <div class="user-profile-details">
      <% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
    <p id="notice"><%= notice %></p>

    <%= attachment_image_tag(@user, :profile_image, :fill, 300, 300) %>
    <h1><%= yield(:title) %></h1>

    <p>
        <strong>Email:</strong>
        <%= @user.email %>
    </p>

    <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
    </p>

    <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
    </p>

    <p>
        <strong>Time zone:</strong>
        <%= @user.time_zone %>
    </p>

    <p>
        <strong>Location:</strong>
        <%= @user.location %>
    </p>
  </div>

  <div class="social-features">
    <h1>Social Features</h1>
    
    <p>Like count: <%= @user.likers(User).count %><br>
    Follower count: <%= @user.followers(User).count %></p>

    <% if current_user %>
    <% if current_user.likes?(@user) %>
        <%= link_to 'Unlike', unlike_path(@user) %>
    <% else %>
        <%= link_to 'Like', like_path(@user) %>
    <% end %> |
    <% if current_user.likes?(@user) %>
        <%= link_to 'Unfollow', unfollow_path(@user) %>
    <% else %>
        <%= link_to 'Follow', follow_path(@user) %>
    <% end %>
    <% end %>
  </div>
</div>