.row
  .col-md-12
    = simple_form_for(resource,              |
      as: resource_name,                     |
      url: registration_path(resource_name), |
      wrapper: :horizontal_form) do |f|      |
      %h1 Change your Password
      = devise_error_messages!
      = f.input :password do
        = f.input_field :password, class: "form-control", autocomplate: :off
        #password-strength-text.text-xs-center
        %progress#password-strength.progress{"aria-describedby" => "password-strength-text", max: "100"}
        #password-feedback.text-xs-center
      = f.input :password_confirmation, autocomplete: 'off'
      = f.button :submit, 'Change My Password', class: 'btn btn-primary btn-block'
    = render "devise/shared/links"
