.nested-fields.row
  = f.input :title, as: :string, class: 'col-sm-12'
  = f.input :date, as: :bootstrap_datepicker, class: 'col-sm-12'
  = f.input :rating, as: :string, class: 'col-sm-12'
  = f.input :full_text, class: 'col-sm-12'
  = f.input :user_id, as: :hidden, value: current_user.id
  = link_to_remove_association "Cancel", f, class: 'btn btn-primary'
