- if user_signed_in? && current_user.follows?(target)
  %span.followers.active
    .btn
      %i.fa.fa-plus
        = pluralize(target.followers(User).count, 'Follower')
- else
  %span.followers
    = button_to polymorphic_path([target, 'follow']), method: :post, class: 'btn btn-secondary', remote: true do
      %i.fa.fa-plus
        = pluralize(target.followers(User).count, 'Follower')

- if user_signed_in? && current_user.likes?(target)
  %span.likes.active
    .btn
      %i.fa.fa-thumbs-o-up
        = pluralize(target.likers(User).count, 'Like')
- else
  %span.likes
    = button_to polymorphic_path([target, 'like']), method: :post, class: 'btn btn-secondary', remote: true do
      %i.fa.fa-thumbs-o-up
        = pluralize(target.likers(User).count, 'Like')
