- if @productions.blank?
  - productions = @no_result
  %p{style: 'font-size: 1.25em;'}
    Oh no! Looks like no one's listed any shows in your area. Got a show? List it here and you'll have this page all to yourself!
    = link_to 'Create a show?', create_show_path
  - if productions.present?
    %h2
      Shows Within 200 Miles of your Location
    %hr
- else
  - productions = @productions
- if productions.present?
  %ul.cd-items.cd-container
    - for production in productions
      - if production.class == Production
        - c = production.company if production.company.present?
        - if production.theaters.present?
          - t = production.theaters.first
          - if t.venue.present?
            - v = t.venue

        %li.cd-item{ data: { production: production.id } }
          = attachment_image_tag(production, :key_image, :fill, 600, 800, fallback: 'unknown600x800.png', class: 'cd-trigger')
          .social
            = render partial: 'shared/social_figure', locals: { target: production }
          %div
            = link_to truncate(production.title, length: 35), production
          %div
            - if c.present?
              = link_to c.name, c
          %div
            - if v.present?
              @
              = link_to v.name, v
            - elsif t.present?
              = link_to t.name, t
          %div
            - if production.first_performance_date.present?
              = production.first_performance_date.to_formatted_s(:rfc822)
            - if production.last_performance_date.present?
              \-
              = production.last_performance_date.to_formatted_s(:rfc822)
      - elsif production.class == Festival
        %li.cd-item{ data: { festival: production.id } }
          = attachment_image_tag(production, :festival_image, :fill, 600, 800, fallback: 'unknown600x800', class: 'cd-trigger')
          .social
            = render partial: 'shared/social_figure', locals: { target: production }
          %div
            Festival
            = link_to truncate(production.title, length: 35), production



    .cd-quick-view
