%ul.cd-items.cd-container
  - for production in @productions
    - c = production.company if production.company.present?
    - if production.theaters.present?
      - t = production.theaters.first

    %li.cd-item{ data: { production: production.id } }
      = attachment_image_tag(production, :key_image, :fill, 600, 800, fallback: 'unknown600x800.png', class: 'cd-trigger')
      %div
        = link_to c.name, c if c.present?
      %div
        = link_to t.name, t if t.present?
      %div
        = production.first_performance.to_formatted_s(:rfc822)
        - if production.last_performance.present?
          \-
          = production.last_performance.to_formatted_s(:rfc822)


  .cd-quick-view
