- if @production.present?
  - if @production.id.present?
    - provide(:title, @production.title)
    .production-profile-details
      %h1
        = best_in_place @production, :title, as: :input

      %figure.profile-image
        - if @production.key_image_id.present?
          = attachment_image_tag(@production, :key_image, :fill, 400, 400)
        - else
          = image_tag('unknown.png', size: '400x400')
        %figurecaption.social
          = render partial: 'shared/social_figure', locals: { target: @production }
      #user-stats
        %p.user-stat
          User Reviews:
          = @production.reviews.count
        %p.user-stat
          Followers:
          = @production.followers(User).count
        %p.user-stat
          Likes:
          = @production.likers(User).count
        %p.user-stat
          %p
            - key_cast = @production.key_credits.select { |c| c.credit_type == 'creative' }
            - key_cast.each do |c|
              = succeed ',' do
                = c.artist.name
                \-
                = c.position
        %p.user-stat
          Starring:
          %p
            - key_cast = @production.key_credits.select { |c| c.credit_type == 'production' }
            - key_cast.each do |c|
              = succeed ',' do
                = c.artist.name
                \-
                = c.position
        - if @production.venues.present?
          %p.venue-info
            - v = @production.venues.first
            = v.name
            %br
            = @production.theaters.first.name
            %br
            #{v.address}, #{v.city}, #{v.state} #{v.zip}
            %br
            = link_to v.website, v.website if v.website.present?
        %ul
          - if policy(@production).edit?
          - elsif policy(@production).claim?
            %li
              = link_to 'Claim Production Page', production_claim_path(@production), method: :patch
