- if @production.id.present?
  .production-profile-details
    - provide(:title, @production.title)
    %h1
      = yield(:title)
    = attachment_image_tag(@production, :key_image, :fill, 400, 400)
    - if @production.description.present?
      %h2
        Production Description
      %p
        = @production.description
  .production-profile-links
    - if current_user
      - if current_user.likes?(@production)
        = button_to "Unlike #{@production.likers(User).count}", production_unlike_path(@production), method: :post, remote: true, disabled: !user_signed_in?
      - else
        = button_to "Like #{@production.likers(User).count}", production_like_path(@production), method: :post, remote: true, disabled: !user_signed_in?
      - if current_user.follows?(@production)
        = button_to "Unfollow #{@production.followers(User).count}", production_unfollow_path(@production), method: :post, remote: true, disabled: !user_signed_in?
      - else
        = button_to "Follow #{@production.followers(User).count}", production_follow_path(@production), method: :post, remote: true, disabled: !user_signed_in?
    - else
      %li
        Likes: #{@production.likers(User).count}
      %li
        Followers: #{@production.followers(User).count}

    %ul
      - if policy(@production).edit?
        %li
          = link_to 'Edit', edit_production_path(@production)
      - elsif policy(@production).claim?
        %li
          = link_to 'Claim Production Page', production_claim_path(@production), method: :patch
