<p id="notice"><%= notice %></p>

<h1>Listing Productions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Public</th>
      <th>Tagline</th>
      <th>Description</th>
      <th>First performance</th>
      <th>Last performance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productions.each do |production| %>
      <tr>
        <td><%= production.title %></td>
        <td><%= production.public %></td>
        <td><%= production.tagline %></td>
        <td><%= production.description %></td>
        <td><%= production.first_performance %></td>
        <td><%= production.last_performance %></td>
        <td><%= link_to 'Show', production %></td>
        <td><%= link_to 'Edit', edit_production_path(production) %></td>
        <td><%= link_to 'Destroy', production, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production', new_production_path %>
