- production = @production
- c = production.company if production.company.present?
- if production.theaters.present?
  - t = production.theaters.first
  - if t.venue.present?
    - v = t.venue
.cd-slider-wrapper
  %ul.cd-slider
    %li.selected
      %figure.profile-image
        = attachment_image_tag production, :key_image, :fill, 600, 800, fallback: 'unknown600x800.png'
        %figurecaption.social
          = render partial: 'shared/social_figure', locals: { target: production }

  %ul.cd-slider-navigation
    %li
      %a.cd-next{ data: { turbolinks: false } } Prev
    %li
      %a.cd-prev{ data: { turbolinks: false } } Next
.cd-item-info
  %ul.cd-item-action
    %li
      = button_to 'View Page', production, class: 'btn', data: { turbolinks: false }, method: :get
    %li
      - if production.showtimes.first.showtime_ticket_metadata.present?
        = button_to 'Buy Now', production.showtimes.first.showtime_ticket_metadata.ticket_link, class: 'btn', method: :get
    %li
      %button.btn.cd-close{ data: { turbolinks: false } } X

  - if c.present?
    %p
      = c.name
  - if t.present?
    %p
      = t.name
      - if v.present?
        \:
        = v.name
  %h2
    = production.title
  %h3.tagline
    = production.tagline
  - if production.credits.creative.present?
    %section
      %p
        - key_creative = @production.key_credits.select { |c| c.credit_type == 'creative' }
        - key_creative.each do |c|
          = succeed ',' do
            = c.artist.name
            \-
            = c.position
  - if production.credits.production.present?
    %section
      - key_creative = @production.key_credits.select { |c| c.credit_type == 'production' }
      - unless key_creative.blank?
        %h3 Starring
        %p
          - key_creative.each do |c|
            = succeed ',' do
              = c.artist.name
              \-
              = c.position
  %section
    %p
      - unless @production.first_performance_date.blank?
        = @production.first_performance_date.to_formatted_s(:long)
        at
        = @production.first_performance_showtime.venue.name
        - unless @production.last_performance_date.blank?
          to
          = @production.last_performance_date.to_formatted_s(:long)
          at
          = @production.last_performance_showtime.venue.name
  %section
    %h3
      General Admission
    %p
      %span
        Price Range:
      = "$#{@production.last_performance_showtime.ticketing['minimum_price']}"
      \-
      = "$#{@production.last_performance_showtime.ticketing['maximum_price']}"
    %p
      %span
        Running Time:
      = @production.metadata['running_time']

  %section
    %p
      = @production.last_performance_showtime.ticketing['in_person_ticketing_info']
  %section
    <h3>Description</h3>
    %p
      = truncate production.description, length: 200
