<p id="notice"><%= notice %></p>

<%= attachment_image_tag(@production, :key_image, :fill, 300, 300) %>

<p>
  <strong>Title:</strong>
  <%= @production.title %>
</p>

<p>
  <strong>Public:</strong>
  <%= @production.public %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @production.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @production.description %>
</p>

<p>
  <strong>First performance:</strong>
  <%= @production.first_performance %>
</p>

<p>
  <strong>Last performance:</strong>
  <%= @production.last_performance %>
</p>

<h2>Cast</h2>
<ul>
    <% @production.production_credits.each do |pc| %>
        <li>
            <%= link_to pc.artist.full_name, artist_path(pc.artist) %>
            - <%= pc.name %>
        </li>
    <% end %>
</ul>

<h2>Showtimes</h2>
<ul>
    <% @production.showtimes.each do |s| %>
        <li>
            <%= link_to s.theater.name, theater_path(s.theater) %>
            - <%= link_to s.venue.name, venue_path(s.venue) %>
            - <%= s.local_time.strftime('%b %d at %I:%M %p') %>
        </li>
    <% end %>
</ul>


<% if @production.production_metadata.present? %>
    <h2>Other Info</h2>
    <ul>
        <% @production.metadata.each do |k,v| %>
            <li>
                <%= "#{k.humanize} - #{v.to_s}" %>
            </li>
        <% end %>
    </ul>
<% end %>

<h2>Reviews</h2>
<ul>
    <% @production.reviews.each do |r| %>
        <li>
            <%= link_to r.title, review_path(r) %>
            - <%= '*'*r.rating %>
        </li>
    <% end %>
</ul>


<%= link_to 'Edit', edit_production_path(@production) %> |
<%= link_to 'Back', productions_path %>

<p>
    <%= link_to 'Write A Review', new_review_path(review: { production_id: @production.id }) %> |
    <%= link_to 'Create a Production Credit', new_production_credit_path(production_credit: { production_id: @production.id }) %> |
    <%= link_to 'Create a Writing Credit', new_writing_credit_path(writing_credit: { production_id: @production.id }) %>
</p>
