= simple_form_for @artist, defaults: {wrapper_html: {class: "col-sm-4 #{type}-#{target.to_s}"}} do |f|
  - if user_signed_in?
    .links
      = link_to_add_association 'Add Credit', f, target,        |
      render_options: { locals: { credit_type: type } },        |
      class: 'btn btn-primary',                                 |
      partial: 'artists/credits/credit_fields'                  |
    .actions
      = f.button :submit, 'Save Credits'
