.create-show
  %h1
    Create a Show
  .question
    %p
      Which company produced the show?
  .form
    = simple_form_for @production, method: :put, url: wizard_path do |f|
      = f.input :company, as: :fake, input_html: { value: "#{@production.company.name if @production.company.present?}" }, label: 'Production Company'
      = f.input :company_id, as: :hidden
      = f.button :submit, 'Next Step', class: 'btn-primary'
