.create-show
  %h1
    Create a Show

  .form
    = simple_form_for @production, method: :put, url: wizard_path do |f|
      - if @production.archived?
        - date_limit = { date_options: { maxDate: Date.today.strftime('%Y/%m/%d') } }
      - else
        - date_limit = { date_options: { maxDate: false } }
      %p To the best of your knowledge, enter the date of the first performance of this production.
      = f.input :first_performance, as: :date_picker, input_html: { data: date_limit }, label: false, input_html: { value: @production.first_performance }
      - if @production.archived?
        %p To the best of your knowledge, enter the date of the last performance of this production.
        = f.input :last_performance, as: :date_picker, input_html: { data: date_limit }, label: false, input_html: { value: @production.last_performance }
      = f.button :submit, 'Save'

= link_to 'Back', wizard_path(:production_data), class: 'btn btn-primary'
