%h2 Staff Credits for #{@production.name}
%p What staff of #{@production.name} would you like to credit along with this production?

= render partial: 'production/steps/credits/credit_form', locals: { collection: @production.company, target: :credits, type: 'staff' }
%table.table.table-striped
  %tbody
    - @production.company.credits.staff.each do |credit|
      - p = credit.creditable
      = render partial: 'production/steps/credits/listing', locals: { target: p, credit: credit }

= link_to 'Done', wizard_path(:production_people), class: 'btn btn-primary'
