<p id="notice"><%= notice %></p>

<h1>Listing Showtime Accessibility Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Seat capacity</th>
      <th>Hearing devices</th>
      <th>Hearing devices info</th>
      <th>Translation devices</th>
      <th>Translation devices info</th>
      <th>Wheelchair accessible</th>
      <th>Wheelchair accessible info</th>
      <th>Guide dogs</th>
      <th>Guide dogs info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showtime_accessibility_metadata.each do |showtime_accessibility_metadata| %>
      <tr>
        <td><%= showtime_accessibility_metadata.seat_capacity %></td>
        <td><%= showtime_accessibility_metadata.hearing_devices %></td>
        <td><%= showtime_accessibility_metadata.hearing_devices_info %></td>
        <td><%= showtime_accessibility_metadata.translation_devices %></td>
        <td><%= showtime_accessibility_metadata.translation_devices_info %></td>
        <td><%= showtime_accessibility_metadata.wheelchair_accessible %></td>
        <td><%= showtime_accessibility_metadata.wheelchair_accessible_info %></td>
        <td><%= showtime_accessibility_metadata.guide_dogs %></td>
        <td><%= showtime_accessibility_metadata.guide_dogs_info %></td>
        <td><%= link_to 'Show', showtime_accessibility_metadata %></td>
        <td><%= link_to 'Edit', edit_showtime_accessibility_metadata_path(showtime_accessibility_metadata) %></td>
        <td><%= link_to 'Destroy', showtime_accessibility_metadata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showtime accessibility metadata', new_showtime_accessibility_metadata_path %>
