<p id="notice"><%= notice %></p>

<p>
  <strong>Seat capacity:</strong>
  <%= @showtime_accessibility_metadata.seat_capacity %>
</p>

<p>
  <strong>Hearing devices:</strong>
  <%= @showtime_accessibility_metadata.hearing_devices %>
</p>

<p>
  <strong>Hearing devices info:</strong>
  <%= @showtime_accessibility_metadata.hearing_devices_info %>
</p>

<p>
  <strong>Translation devices:</strong>
  <%= @showtime_accessibility_metadata.translation_devices %>
</p>

<p>
  <strong>Translation devices info:</strong>
  <%= @showtime_accessibility_metadata.translation_devices_info %>
</p>

<p>
  <strong>Wheelchair accessible:</strong>
  <%= @showtime_accessibility_metadata.wheelchair_accessible %>
</p>

<p>
  <strong>Wheelchair accessible info:</strong>
  <%= @showtime_accessibility_metadata.wheelchair_accessible_info %>
</p>

<p>
  <strong>Guide dogs:</strong>
  <%= @showtime_accessibility_metadata.guide_dogs %>
</p>

<p>
  <strong>Guide dogs info:</strong>
  <%= @showtime_accessibility_metadata.guide_dogs_info %>
</p>

<%= link_to 'Edit', edit_showtime_accessibility_metadata_path(@showtime_accessibility_metadata) %> |
<%= link_to 'Back', showtime_accessibility_metadata_index_path %>
