= simple_form_for(@venue) do |f|
  = f.input :name, as: :string
  - if policy(@venue).edit?
    = f.input :address1
    = f.input :address2
    = f.input :website, as: :url
    = f.input :phone_number, as: :tel
    = f.input :description
    - if policy(@venue).admin?
      = f.input :company_id, collection: Company.all, value_method: :id, label_method: :name, prompt: true
  = f.button :submit, class: 'btn-primary'
