= simple_form_for(@venue) do |f|
  = f.input :name, as: :string
  - if policy(@venue).edit?
    = f.input :venue_image, as: :attachment, direct: true, input_html: { data: { value: attachment_url(@venue, :venue_image) } }
    = f.input :banner_image, as: :attachment, direct: true, input_html: { data: { value: attachment_url(@venue, :banner_image) } }
    = f.input :address
    = f.input :website, as: :url
    = f.input :phone_number, as: :tel
    = f.input :description
    - if policy(@venue).admin?
      = f.input :company_id, collection: Company.all, value_method: :id, label_method: :name, prompt: true
  = f.button :submit, class: 'btn-primary'
