<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @venue.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @venue.address2 %>
</p>

<p>
  <strong>Website:</strong>
  <%= @venue.website %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @venue.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @venue.company.name %>
</p>

<h2>Theaters</h2>
<ul>
    <% @venue.theaters.each do |t| %>
        <li>
            <%= link_to t.name, theater_path(t) %>
        </li>
    <% end %>
</ul>

<h2>Showtimes</h2>
<ul>
    <% @venue.showtimes.each do |s| %>
        <li>
            <%= link_to s.production.title, production_path(s.production) %>
            - <%= link_to s.theater.name, theater_path(s.theater) %>
            - <%= s.local_time.strftime('%b %d at %I:%M %p') %>

        </li>
    <% end %>
</ul>



<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>

<%= link_to 'Create Theater', new_theater_path %>
