<p id="notice"><%= notice %></p>

<h1>Listing Company Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Date founded</th>
      <th>Location founded</th>
      <th>Founders</th>
      <th>Mission</th>
      <th>History</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_metadata.each do |company_metadata| %>
      <tr>
        <td><%= company_metadata.company %></td>
        <td><%= company_metadata.address1 %></td>
        <td><%= company_metadata.address2 %></td>
        <td><%= company_metadata.date_founded %></td>
        <td><%= company_metadata.location_founded %></td>
        <td><%= company_metadata.founders %></td>
        <td><%= company_metadata.mission %></td>
        <td><%= company_metadata.history %></td>
        <td><%= link_to 'Show', company_metadata %></td>
        <td><%= link_to 'Edit', edit_company_metadata_path(company_metadata) %></td>
        <td><%= link_to 'Destroy', company_metadata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company metadata', new_company_metadata_path %>
