- if @company.id.present?
  .company-profile-details
    - provide(:title, @company.name)
    %h1
      = yield(:title)
    %figure.profile-image
      = attachment_image_tag(@company, :company_image, :fill, 400, 400)
      %figurecaption.social
        - if user_signed_in?
          - if current_user.likes?(@company)
            = button_to company_unlike_path(@company), method: :post, class: 'unlike' do
              %i.fa.fa-thumbs-up
          - else
            = button_to company_like_path(@company), method: :post, class: 'like' do
              %i.fa.fa-thumbs-o-up
          - if current_user.follows?(@company)
            = button_to company_unfollow_path(@company), method: :post, class: 'unfollow' do
              %i.fa.fa-minus
          - else
            = button_to company_follow_path(@company), method: :post, class: 'follow' do
              %i.fa.fa-plus

    - if @company.name.present?
      %p
        %strong
          = @company.name
    #user-stats
      %p.user-stat
        Followers:
        = @company.followers(User).count
      %p.user-stat
        Likes:
        = @company.likers(User).count
    #user-info
      %p

    - if @company.description.present?
      %h2
        Description
      %p
        = @company.description
  .company-profile-links

    %ul
      %li
        = link_to 'Edit', edit_company_path(@company)
      %li
        = link_to 'View User Page', user_path(@company.user_id) if @company.user.present?
      %li
        = link_to 'Claim Company Page', company_claim_path(@company), method: :patch
