- unless current_page?(action: 'new')
  .company-profile-details
    - provide(:title, @company.name)
    %h1
      = yield(:title)
      %p.page-destinction (Company)
    %figure.profile-image
      = attachment_image_tag(@company, :company_image, :fit, 400, 1200, fallback: 'unknown.png')
      %figurecaption.social
        = render partial: 'shared/social_figure', locals: { target: @company }
    #user-stats
      - if user_signed_in?
        %p.user-stat.sidebar-likes
          (
          = @company.likers(User).count
          )
        %p.user-stat.sidebar-follows
          (
          = @company.followers(User).count
          )
      - else
        %p.user-stat
          Likes (
          = @company.likers(User).count
          )
        %p.user-stat
          Followers (
          = @company.followers(User).count
          )
    - if @company.company_type.present?
      %p
        %em
          @company.company_type
  - if policy(@company).edit?
    .company-profile-links
      %ul
        - if policy(@company).admin?
          %li
            = link_to 'Edit (TE)', edit_company_path(@company)
        %li
          = link_to 'Edit Company', edit_company_path(@company)
        - if policy(@company).claim?
          %li
            = link_to 'Claim Company Page', company_claim_path(@company), method: :patch
