.tab-wrapper
  %ul.nav.nav-tabs{ role: 'tablist' }
    %li.nav-item
      %a.nav-link.active{ data: { toggle: 'tab' }, href: '#productions', role: 'tab'}
        Credits
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#media', role: 'tab'}
        Media
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#reviews', role: 'tab'}
        Reviews
    %li.nav-item
      %a.nav-link{ data: { toggle: 'tab' }, href: '#staff', role: 'tab'}
        Staff
.tab-content
  .tab-pane.active{ id: 'productions', role: 'tabpanel' }
    = render 'companies/productions/productions'
  .tab-pane{ id: 'media', role: 'tabpanel' }
    = render 'companies/photos/listing'
    = render 'companies/photos/form'

  .tab-pane{ id: 'reviews', role: 'tabpanel' }
    = render 'companies/reviews/listing'
  .tab-pane{ id: 'staff', role: 'tabpanel'}
    = render 'companies/credits/credits'
