<p id="notice"><%= notice %></p>

<h1>Listing Credits</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Production</th>
      <th>Name</th>
      <th>Position</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Type</th>
      <th>Confirmed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @model.each do |production_credit| %>
      <tr>
        <td><%= production_credit.artist.stage_name %></td>
        <td><%= production_credit.production.title %></td>
        <td><%= production_credit.name %></td>
        <td><%= production_credit.position %></td>
        <td><%= production_credit.start_date %></td>
        <td><%= production_credit.end_date %></td>
        <td><%= production_credit.type %></td>
        <td><%= production_credit.confirmed %></td>
        <td><%= link_to 'Show', production_credit %></td>
        <td><%= link_to 'Destroy', production_credit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production credit', new_production_credit_path %>
<%= link_to 'New Writing credit', new_writing_credit_path %>
<%= link_to 'New Staff credit', new_staff_credit_path %>
