<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @model.artist.stage_name %>
</p>

<p>
  <strong>Production:</strong>
  <%= @model.production.title if @model.production.present? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @model.position %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @model.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @model.end_date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @model.type %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @model.confirmed %>
</p>

<%= link_to 'Edit', edit_production_credit_path(@model) %> |
<%= link_to 'Back', production_credits_path %>
