- provide(:title, 'Home')
.jumbotron
  .block-grid
    - @productions = Production.all.order(created_at: :desc).page(params[:page])
    - for production in @productions
      %figure.block-grid-item.frontpage-show
        - if production.key_image_id.present?
          = attachment_image_tag production, :key_image, :fill, 150, 200
        - else
          = image_tag('unknown.png', size: '150x200')
        %figurecaption
          %span.full-title
            %span.title>
              = link_to truncate(production.title, length: 25), production
          - if production.company.present?
            %span.company
              = link_to production.company.name, production.company
          - if production.venues.present?
            %span.venue
              = link_to(production.venues.first.name, production.venues.first) if production.venues.present?
          = render partial: 'shared/social_buttons', locals: { target: production }

  = paginate @productions
  = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary btn-signup"
