%tr
  %td
    = time.date.strftime('%b %d')
    = time.time.strftime('at %I:%M %p')
  %td
    = link_to(time.production.title, production_path(time.production))
  %td
    = link_to(time.theater.venue.name, venue_path(time.theater.venue))
    \-
    = time.theater.name
  %td
    - if time.try(:showtime_ticket_metadataA).try(:ticket_link).present?
      = link_to 'Buy Tickets', time.showtime_ticket_metadata.ticket_link
