%tr
  %td
    = time.local_time.strftime('%b %d at %I:%M %p')
  %td
    = link_to(time.production.title, production_path(time.production))
  %td
    = link_to(time.theater.venue.name, venue_path(time.theater.venue))
    \-
    = time.theater.name
  %td
    = link_to 'Buy Tickets', time.showtime_ticket_metadata.ticket_link
