.nested-fields.row
  = f.input :stage_name, as: :fake, required: true, input_html: { value: (f.object.artist.name if f.object.artist.present?), |
                                                             placeholder: 'Credited Artist'} |
  = f.input :artist_id, as: :hidden
  = f.input :creditable_id, as: :hidden, input_html: { value: f.object.creditable_id }
  = f.input :creditable_type, as: :hidden, input_html: { value: f.object.creditable_type }
  = f.input :position, as: :string, input_html: { placeholder: 'Role' }, required: true, label: 'Credit'
  = f.input :start_date, as: :date_picker, wrapper: :vertical_form, required: true
  = f.input :end_date, as: :date_picker, wrapper: :vertical_form
  = f.input :credit_type, as: :hidden, input_html: { value: credit_type }
  = link_to_remove_association "Remove Credit", f, class: 'btn btn-primary'
