<%= simple_form_for(resource,
                    as: resource_name,
                    url: session_path(resource_name),
                    wrapper: :horizontal_form,
                    html: { id: :sign_in }) do |f| %>
    <div class="login-wrapper">
        <%= f.input :email, :label => "Email:" %>
        <%= f.input :password, :label => "Password:" %>
        <div class="form-group login-btn-wrapper">
            <div class="login-btn">
                <%= f.button :submit, 'Go', class: 'btn-primary' %>
            </div>
        </div>
    </div>
    <div class="login-meta-wrapper">
        <%= f.input :remember_me, as: :boolean %>
        <div class="signup-box-wrapper">
            <div class="signup-box">
                Don't have a login? <%= link_to 'Sign up today!', new_user_registration_path %>
            </div>
        </div>
    </div>
<% end %>
