.create-show
  %h1
    Create a Show
  = simple_form_for @festival, url: wizard_path, method: :put, defaults: {wrapper_html: { class: 'col-sm-6' } } do |f|
    = f.association :productions, collection: @festival.productions, as: :check_boxes, wrapper: :horizontal_radio_and_checkboxes, wrapper_html: { class: 'col-sm-12' }
    .links
      = link_to_add_association 'Add Showtime', f, :festival_production_links,  |
      class: 'btn btn-primary',                                 |
      partial: 'festival/steps/showtimes/showtime_fields'
    .actions
      = f.button :submit, 'Save Showtime'

%table.table.table-striped
  %tbody
    - for time in @festival.showtimes
      = render partial: 'festival/steps/showtimes/listing', locals: { time: time }
