<%= simple_form_for(@artist_social_metadata) do |f| %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :linkedin %>
    <%= f.input :tumblr %>
    <%= f.input :snapchat %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :instagram %>
    <%= f.input :vine %>
    <%= f.input :artist_id %>
    <%= f.button :submit %>
  </div>
<% end %>
