<p id="notice"><%= notice %></p>

<h1>Listing Artist Social Metadata</h1>

<table>
  <thead>
    <tr>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Linkedin</th>
      <th>Tumblr</th>
      <th>Snapchat</th>
      <th>Email</th>
      <th>Website</th>
      <th>Instagram</th>
      <th>Vine</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artist_social_metadata.each do |artist_social_metadata| %>
      <tr>
        <td><%= artist_social_metadata.twitter %></td>
        <td><%= artist_social_metadata.facebook %></td>
        <td><%= artist_social_metadata.linkedin %></td>
        <td><%= artist_social_metadata.tumblr %></td>
        <td><%= artist_social_metadata.snapchat %></td>
        <td><%= artist_social_metadata.email %></td>
        <td><%= artist_social_metadata.website %></td>
        <td><%= artist_social_metadata.instagram %></td>
        <td><%= artist_social_metadata.vine %></td>
        <td><%= artist_social_metadata.artist %></td>
        <td><%= link_to 'Show', artist_social_metadata %></td>
        <td><%= link_to 'Edit', edit_artist_social_metadata_path(artist_social_metadata) %></td>
        <td><%= link_to 'Destroy', artist_social_metadata, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist social metadata', new_artist_social_metadata_path %>
