<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @artist_social_metadata.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @artist_social_metadata.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @artist_social_metadata.linkedin %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @artist_social_metadata.tumblr %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @artist_social_metadata.snapchat %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist_social_metadata.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @artist_social_metadata.website %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @artist_social_metadata.instagram %>
</p>

<p>
  <strong>Vine:</strong>
  <%= @artist_social_metadata.vine %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist_social_metadata.artist.full_name %>
</p>

<%= link_to 'Edit', edit_artist_social_metadata_path(@artist_social_metadata) %> |
<%= link_to 'Back', artist_social_metadata_index_path %>
