<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @artist_social_metadatum.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @artist_social_metadatum.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @artist_social_metadatum.linkedin %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @artist_social_metadatum.tumblr %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @artist_social_metadatum.snapchat %>
</p>

<p>
  <strong>Email:</strong>
  <%= @artist_social_metadatum.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @artist_social_metadatum.website %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @artist_social_metadatum.instagram %>
</p>

<p>
  <strong>Vine:</strong>
  <%= @artist_social_metadatum.vine %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @artist_social_metadatum.artist %>
</p>

<%= link_to 'Edit', edit_artist_social_metadatum_path(@artist_social_metadatum) %> |
<%= link_to 'Back', artist_social_metadata_index_path %>
