<%= form_for(@showtime) do |f| %>
  <% if @showtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

      <ul>
      <% @showtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :showtime %><br>
    <%= f.datetime_select :showtime %>
  </div>
  <div class="field">
    <%= f.label :theater_id %><br>
    <%= f.text_field :theater_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
