<p id="notice"><%= notice %></p>

<h1>Listing Showtimes</h1>

<table>
  <thead>
    <tr>
      <th>Showtime</th>
      <th>Theater</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @showtimes.each do |showtime| %>
      <tr>
        <td><%= showtime.showtime %></td>
        <td><%= showtime.theater %></td>
        <td><%= link_to 'Show', showtime %></td>
        <td><%= link_to 'Edit', edit_showtime_path(showtime) %></td>
        <td><%= link_to 'Destroy', showtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Showtime', new_showtime_path %>
