%p#notice= notice
%h1 Listing Showtimes
%table
  %thead
    %tr
      %th Showtime
      %th Theater
      %th{colspan: "3"}
  %tbody
    - @showtimes.each do |showtime|
      %tr
        %td= showtime.showtime
        %td= showtime.theater
        %td= link_to 'Show', showtime
        %td= link_to 'Edit', edit_showtime_path(showtime)
        %td= link_to 'Destroy', showtime, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Showtime', new_showtime_path
