%p#notice= notice
%h1 Listing Festivals
%table
  %thead
    %tr
      %th Title
      %th Subtitle
      %th{colspan: "3"}
  %tbody
    - @festivals.each do |festival|
      %tr
        %td= festival.title
        %td= festival.subtitle
        %td= link_to 'Show', festival
        %td= link_to 'Edit', edit_festival_path(festival)
        %td= link_to 'Destroy', festival, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Festival', new_festival_path
