<p id="notice"><%= notice %></p>

<h1>Listing Festivals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @festivals.each do |festival| %>
      <tr>
        <td><%= festival.title %></td>
        <td><%= festival.subtitle %></td>
        <td><%= link_to 'Show', festival %></td>
        <td><%= link_to 'Edit', edit_festival_path(festival) %></td>
        <td><%= link_to 'Destroy', festival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Festival', new_festival_path %>
