- festival = @festival
- c = festival.company if festival.company.present?
.cd-slider-wrapper
  %ul.cd-slider
    %li.selected
      %figure.profile-image
        = attachment_image_tag festival, :festival_image, :fill, 600, 800, fallback: 'unknown600x800.png'
        %figurecaption.social
          = render partial: 'shared/social_figure', locals: { target: festival }
  %ul.cd-slider-navigation
    %li
      %a.cd-next{ data: { turbolinks: false } } Prev
    %li
      %a.cd-prev{ data: { turbolinks: false } } Next
.cd-item-info
  %ul.cd-item-action
    %li
      = button_to 'View Page', festival, class: 'btn', data: { turbolinks: false }, method: :get
    %li
      %button.btn.cd-close{ data: { turbolinks: false } } X

  - if c.present?
    %p
      = c.name
  %h2
    = festival.title
  %section
    - productions = festival.productions
    = render partial: 'festivals/production_list', locals: { productions: productions }
