<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @festival.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @festival.subtitle %>
</p>

<h2>Companies</h2>
<ul>
    <% @festival.companies.each do |c| %>
        <li>
            <%= link_to c.name, company_path(c) %>
        </li>
    <% end %>
</ul>

<h2>Shows</h2>
<ul>
    <% @festival.productions.each do |p| %>
        <li>
            <%= link_to p.title, production_path(p) %>
        </li>
    <% end %>
</ul>


<%= link_to 'Edit', edit_festival_path(@festival) %> |
<%= link_to 'Back', festivals_path %>
