<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @company_social_metadatum.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @company_social_metadatum.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @company_social_metadatum.linkedin %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @company_social_metadatum.tumblr %>
</p>

<p>
  <strong>Vine:</strong>
  <%= @company_social_metadatum.vine %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @company_social_metadatum.snapchat %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @company_social_metadatum.instagram %>
</p>

<%= link_to 'Edit', edit_company_social_metadatum_path(@company_social_metadatum) %> |
<%= link_to 'Back', company_social_metadata_index_path %>
