<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter:</strong>
  <%= @company_social_metadata.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @company_social_metadata.facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @company_social_metadata.linkedin %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @company_social_metadata.tumblr %>
</p>

<p>
  <strong>Snapchat:</strong>
  <%= @company_social_metadata.snapchat %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @company_social_metadata.instagram %>
</p>

<p>
  <strong>Vine:</strong>
  <%= @company_social_metadata.vine %>
</p>

<p>
  <strong>Company:</strong>
  <%= @company_social_metadata.company %>
</p>

<%= link_to 'Edit', edit_company_social_metadata_path(@company_social_metadata) %> |
<%= link_to 'Back', company_social_metadata_index_path %>
