<p id="notice"><%= notice %></p>

<p>
  <strong>Theater:</strong>
  <%= @theater_metadata.theater %>
</p>

<p>
  <strong>Seat capacity:</strong>
  <%= @theater_metadata.seat_capacity %>
</p>

<p>
  <strong>Hearing devices:</strong>
  <%= @theater_metadata.hearing_devices %>
</p>

<p>
  <strong>Hearing devices info:</strong>
  <%= @theater_metadata.hearing_devices_info %>
</p>

<p>
  <strong>Translation devices:</strong>
  <%= @theater_metadata.translation_devices %>
</p>

<p>
  <strong>Translation devices info:</strong>
  <%= @theater_metadata.translation_devices_info %>
</p>

<p>
  <strong>Wheelchair accessible:</strong>
  <%= @theater_metadata.wheelchair_accessible %>
</p>

<p>
  <strong>Wheelchair accessible info:</strong>
  <%= @theater_metadata.wheelchair_accessible_info %>
</p>

<p>
  <strong>Guide dogs:</strong>
  <%= @theater_metadata.guide_dogs %>
</p>

<p>
  <strong>Guide dogs info:</strong>
  <%= @theater_metadata.guide_dogs_info %>
</p>

<%= link_to 'Edit', edit_theater_metadata_path(@theater_metadata) %> |
<%= link_to 'Back', theater_metadata_index_path %>
