<p id="notice"><%= notice %></p>

<h1>Listing Company Festival Links</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Festival</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_festival_links.each do |company_festival_link| %>
      <tr>
        <td><%= company_festival_link.company %></td>
        <td><%= company_festival_link.festival %></td>
        <td><%= link_to 'Show', company_festival_link %></td>
        <td><%= link_to 'Edit', edit_company_festival_link_path(company_festival_link) %></td>
        <td><%= link_to 'Destroy', company_festival_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company festival link', new_company_festival_link_path %>
