%p#notice= notice
%p
  %strong Company:
  = @company_festival_link.company.name
%p
  %strong Festival:
  = @company_festival_link.festival.title
= link_to 'Edit', edit_company_festival_link_path(@company_festival_link)
|
= link_to 'Back', company_festival_links_path
