%p#notice= notice
%h1 Listing Reviews
%table
  %thead
    %tr
      %th Production
      %th Date
      %th Rating
      %th Title
      %th Summary
      %th Full text
      %th Agree
      %th Disagree
      %th{colspan: "3"}
  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.production
        %td= review.date
        %td= review.rating
        %td= review.title
        %td= review.summary
        %td= review.full_text
        %td= review.agree
        %td= review.disagree
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Review', new_review_path
