%p#notice= notice
%p
  %strong Production:
  = @review.production.title
%p
  %strong Date:
  = @review.created_at.strftime('%D')
%p
  %strong Rating:
  = @review.rating
%p
  %strong Title:
  = @review.title
%p
  %strong Summary:
  = @review.summary
%p
  %strong Full text:
  = @review.full_text
%p
  %strong Agree:
  = @review.agree
%p
  %strong Disagree:
  = @review.disagree
