%p#notice= notice
%h1 Listing Theaters
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Venue
      %th{colspan: "3"}
  %tbody
    - @theaters.each do |theater|
      %tr
        %td= theater.name
        %td= theater.description
        %td= theater.venue
        %td= link_to 'Show', theater
        %td= link_to 'Edit', edit_theater_path(theater)
        %td= link_to 'Destroy', theater, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Theater', new_theater_path
