<p id="notice"><%= notice %></p>

<h1>Listing Theaters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theaters.each do |theater| %>
      <tr>
        <td><%= theater.name %></td>
        <td><%= theater.description %></td>
        <td><%= theater.venue %></td>
        <td><%= link_to 'Show', theater %></td>
        <td><%= link_to 'Edit', edit_theater_path(theater) %></td>
        <td><%= link_to 'Destroy', theater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Theater', new_theater_path %>
