<header>
    <% if !logged_in? %>
    <div class="collapse container-fluid bg-inverse" id="signIn">
        <div class="container p-a-1">
            <%= render 'sessions/inline_form' %>
        </div>
    </div>
    <% end %>
    <%= navbar fluid: true do %>
        <%= vertical do %>
            <%= link_to 'TheaterEngine', root_path %>
        <% end %>
        <%= horizontal do %>
            <%= nav class: 'navbar-right' do %>
                <%= link_to 'find/list a show', '#' %>
                <%= link_to 'community', '#' %>
                <% if logged_in? %>
                    <%= link_to 'profile', current_user %>
                    <%= link_to 'logout', logout_path, method: :delete %>
                <% else %>
                    <%= link_to 'sign in', '#',
                                'data-toggle' => "collapse",
                                'data-target' => "#signIn" %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</header>
