%body
  %header
    - if !user_signed_in?
      #signIn.collapse.container-fluid.bg-inverse
        .container
          = render 'devise/sessions/inline_form'
    %nav.navbar.navbar-light.bg-faded{role: "navigation"}
      .container
        %button.navbar-toggler.hidden-sm-up.pull-right{data: { target: '#navbar-collapse-login', toggle: 'collapse' }, type: 'button' }
          %span.sr-only Toggle navigation
          ☰
        = link_to image_tag('logo.png'), root_path, class: 'navbar-brand'
        #navbar-collapse-login.collapse.navbar-toggleable-xs
          %ul.nav.navbar-nav
            %li.nav-item
              = link_to 'find/list a show', '#', class: 'nav-show nav-link'
            %li.nav-item
              = link_to 'community', '#', class: 'nav-community nav-link'
              - if user_signed_in?
                %li.nav-item
                  = link_to 'profile', profile_path, class: 'nav-link'
                %li.nav-item
                  = link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link'
              - else
                %li.nav-item
                  = link_to 'sign in', '#',{data: { toggle: 'collapse', target: '#signIn'}, class: 'nav-link'}
