%body
  %header
    - if !user_signed_in?
      #signIn.collapse.container-fluid.bg-inverse
        .container
          = render 'devise/sessions/inline_form'
    %nav.navbar.navbar-light.bg-faded{role: "navigation"}
      .container
        %button.navbar-toggler.hidden-sm-up.pull-right{data: { target: '#navbar-collapse-login', toggle: 'collapse' }, type: 'button' }
          %span.sr-only Toggle navigation
          ☰
        = link_to image_tag('logo.png'), root_path, class: 'navbar-brand'
        #navbar-collapse-login.collapse.navbar-toggleable-xs
          %ul.nav.navbar-nav
            %li.nav-item
              = link_to 'create a show', new_production_path, class: 'nav-community nav-link'
              - if user_signed_in?
                %li.nav-item
                  = attachment_image_tag current_user, :profile_image, :fill, 50, 50
                %li.nav-item
                  .dropdown
                    %a.dropdown-toggle.nav-link{ id: 'profileDropdown', data: {toggle: 'dropdown'}, 'aria-haspopup': true, 'aria-expanded': false}
                      = current_user.first_name
                      = current_user.last_name
                    .dropdown-menu{'aria-labelledby': 'profileDropdown' }
                      = link_to 'Newsfeed', profile_path( anchor: :news ), class: 'dropdown-item'
                      = link_to 'Notifications', profile_path( anchor: :notifications ), class: 'dropdown-item'
                      = link_to 'Settings', profile_path( anchor: :settings ), class: 'dropdown-item'
                      - if current_user.artist.present?
                        = link_to 'Artist Page', artist_path( current_user.artist ), class: 'dropdown-item'
                      - else
                        = link_to 'Create Artist Page', new_artist_path, class: 'dropdown-item'
                      = link_to 'Fan Page', profile_path( anchor: :follows ), class: 'dropdown-item'
                      - if current_user.company.present?
                        = link_to 'Company Page', company_path( current_user.company ), class: 'dropdown-item'
                      - else
                        = link_to 'Create Company', new_company_path, class: 'dropdown-item'
                      = link_to 'Add a Show', new_production_path, class: 'dropdown-item'
                      = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'
              - else
                %li.nav-item
                  = link_to 'sign in', '#',{data: { toggle: 'collapse', target: '#signIn'}, class: 'nav-link'}
