!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= default_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    #main-content
      = render 'header_image'
      .container.container-fluid
        .row.notifications
          - flash.each do |message_type, message|
            = content_tag(:div, message, class: "alert alert-#{message_type}", role: 'alert')
        .row
          %aside.col-md-4.col-xs-4.sidebar-area
            = render 'sidebar'
          .col-md-8.col-xs-8.content-area
            = yield
      = render 'layouts/footer'
