<!DOCTYPE html>
<html>
    <head>
        <title><%= default_title(yield(:title)) %></title>
        <%= stylesheet_link_tag 'application', media: 'all',
        'data-turbolinks-track' => true
        %>
        <%= javascript_include_tag 'application',
        'data-turbolinks-track' => true
        %>
        <%= csrf_meta_tags %>
        <%= render 'layouts/shim' %>
    </head>
    <body>
        <%= render 'layouts/header' %>
        <div id="main-content">
            <div class="container container-fluid">
               <div class="row notifications">
                <% flash.each do |message_type, message| %>
                    <%= content_tag(:div, message, class: "alert alert-#{message_type}", role: 'alert') %>
                <% end %>
               </div>
                <div class="row">
                    <aside class="col-md-4 col-xs-4 sidebar-area">
                        <section class="search">
                            <h1>Where would you like to see a show?</h1>
                            <%= simple_form_for :show_search, wrapper: :horizontal_form, defaults: { required: false } do |f| %>
                                <%= f.input :country, as: :string, placeholder: '' %>
                                <%= f.input :state, as: :string, placeholder: '' %>
                                <%= f.input :city, as: :string, placeholder: '' %>
                                <%= f.button :submit, 'Search', class: 'btn-primary pull-right' %>
                            <% end %>
                        </section>
                        <section class="price">
                            <h2>Price Range</h2>
                            <input id="price_range" type="text" "span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[20,800]"/>
                        </section>
                        <section class="filters">
                            <h2>Filter Search</h2>
                            <%= simple_form_for :filters, wrapper: :horizontal_form, defaults: { required: false, as: :boolean } do |f| %>
                                <%= f.input :price, label: 'Guaranteed Price Only' %>
                                <%= f.input :price, label: 'Tonight' %>
                                <%= f.input :price, label: 'Tomorrow' %>
                                <%= f.input :price, label: 'This Weekend' %>
                                <%= f.input :price, label: 'Next Week' %>
                                <%= f.input :price, label: 'Matinees Only' %>
                                <%= f.input :price, label: 'Late Night Only' %>
                                <%= f.input :price, label: 'With Reviews' %>
                                <%= f.input :price, label: 'User Favorites' %>
                                <%= f.input :price, label: '1000+ Seats' %>
                                <%= f.input :price, label: '-1000 Seats' %>
                                <%= f.input :price, label: 'Black Box (Under 50 Seats)' %>
                            <% end %>
                        </section>
                    </aside>
                    <div class="col-md-8 col-xs-8 content-area">
                        <%= yield %>
                    </div>
                </div>
                <%= render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>
