!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= default_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    #main-content
      .container.container-fluid
        .row.notifications
          - flash.each do |message_type, message|
            = content_tag(:div, message, class: "alert alert-#{message_type}", role: 'alert')
        .row
          %aside.col-md-4.col-xs-4.sidebar-area
            %section.search
              %h1 Where would you like to see a show?
              = simple_form_for :show_search, wrapper: :horizontal_form, defaults: { required: false } do |f|
                = f.input :country, as: :string, placeholder: ''
                = f.input :state, as: :string, placeholder: ''
                = f.input :city, as: :string, placeholder: ''
                = f.button :submit, 'Search', class: 'btn-primary pull-right'
            %section.price
              %h2 Price Range
              %input#price_range{"data-slider-max" => "1000", "data-slider-min" => "10", "data-slider-step" => "5", "data-slider-value" => "[20,800]", type: "text", value: ""}/
            %section.filters
              %h2 Filter Search
              = simple_form_for :filters, wrapper: :horizontal_form, defaults: { required: false, as: :boolean } do |f|
                = f.input :price, label: 'Guaranteed Price Only'
                = f.input :price, label: 'Tonight'
                = f.input :price, label: 'Tomorrow'
                = f.input :price, label: 'This Weekend'
                = f.input :price, label: 'Next Week'
                = f.input :price, label: 'Matinees Only'
                = f.input :price, label: 'Late Night Only'
                = f.input :price, label: 'With Reviews'
                = f.input :price, label: 'User Favorites'
                = f.input :price, label: '1000+ Seats'
                = f.input :price, label: '-1000 Seats'
                = f.input :price, label: 'Black Box (Under 50 Seats)'
          .col-md-8.col-xs-8.content-area
            = yield
        = render 'layouts/footer'
