!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= default_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
    = csrf_meta_tags
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    #main-content
      = render 'header_image'
      .container.container-fluid
        .row
          %aside.col-md-4.sidebar-area
            = render 'sidebar'
          .col-md-8.content-area
            = yield
      = render 'layouts/footer'
